<% if logged_in? %>
  <form action='/tweets' method="post">
    What's on your mind?
    <br>
    <input type="text" name="content">
    <input type="submit" name="submit" id="submit" value="Tweet">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
