<h1>Sign Up to Fwitter!</h1>
<h3>It's free and always will be</h3>

<form action="/signup" method="post">
  <p>UserName: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" id="submit" value="SignUp">
</form>